<mat-card class="usercard" ngClass.xs="usercard-little" ngClass.sm="usercard-small">
  <div class="usercard-content">
    <mat-card-title>User Settings</mat-card-title>
    <mat-card-content>
        <form [formGroup]="userSettings">
          <div  fxLayout="row wrap" fxLayoutGap="30px" class="input-container">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" value="test">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" value="">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [type]="passwordHide ? 'password' : 'text'" type="password" formControlName="password">
              <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [type]="password2Hide ? 'password' : 'text'" type="password" formControlName="password2">
              <mat-icon matSuffix (click)="password2Hide = !password2Hide">{{password2Hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </div>
          <button color="primary" mat-raised-button type="submit" id="submitbutton">Save changes</button>
        </form>
    </mat-card-content>
  </div>
</mat-card>
